.detail_container{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    margin: 46px 121px 0 121px;

}
.detail_line{
    width: 100%;
    margin-bottom: 28px;
}
.review_wrap{
    display: flex;
    flex-direction: row;
}
.review_profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 98px;
}
.review_title{
    font-family: Work Sans;
    font-size: 36px;
    font-weight: 200;
    line-height: 57px; /* 158.333% */
}
.review_text{
    font-size: 20px;
    font-weight: 400;
    line-height: 38px;
}

/* comment */

.comment_profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px
}
.profile_img{
    width: 33px;
    height: 33px;
}
.comment_text{
    font-family: Gowun Dodum;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    margin: 12px 0;
}
.comment_date{
    margin: 0;
    color: #898383;
    font-family: Gowun Dodum;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
}

/* comment input */

.comment_box{
    border: 1px solid silver;
    width: 100%;
}
.comment_wrap{
    margin: 11px 35px;
}
.comment_input{
    width: 97.6%;
    height: 6.25em;
    resize: none;
    border: none ;

    margin-left: 35px;
    padding: 15px;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 400;
}
.comment_btn{
    width: 96px;
    height: 42px;
    border-radius: 10px;
    background: linear-gradient(90deg, #CD1A40 0%, #E54C3E 48.96%, #FF803C 100%);
    box-shadow: 0px 5px 10px 0px rgba(205, 26, 64, 0.22);
    color: #FFF;
    font-family: Work Sans;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    margin-top: 12px;
}
.comment_input_wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}