* {
  font-family: "Gowun Dodum" !important;
  margin: 0;
  }
button{
  all: unset;
}

/* main title */
.main_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.main_photo_wrap, .main_food {
  width: 100%;
  display: flex;
  position: relative;
  height: 768px;
}
.main_food_cover{
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(30, 30, 30, 0.56);
}
.main_inner_wrap{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 92px;
  height: 50%;
}
.main_inner_text{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
.main_text{
  color: #FFF;
  font-size: 86px;
  font-weight: 700;
}
.main_text_sm{
  color: #FFF;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
  line-height: 24px;
}
.main_search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 580px;
  height: 70px;
  margin-top: 58px;
}
.main_input_search {
  position: relative;
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 28px;
  padding: 10px 12px;
  font-size: 25px;
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(5px);
}
.main_search_img {
  width: 90px;
}
.main_search_btn{
  position : absolute;
}
/*FOOTER*/
.footer_container{
  width: 100%;
  height: 144px;
  flex-shrink: 0;
  background: linear-gradient(90deg, rgba(205, 26, 64, 0.78) 0%, rgba(255, 128, 60, 0.78) 100%);
  position: relative;
  margin-top: 212px;
}

.footer_wrap{
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center
}
.footerBox{
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-evenly;
}
.footer_text_wrap{
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}

.footer_text {
  color: #FFF;
  font-size: 26px;
  font-weight: 500;
  margin-bottom: 0;
}

.main_photo_cover{
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: rgba(30, 30, 30, 0.26);
  top:0px;
  z-index: 0;
}
.search {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 300px;
}

.input_search {
  width: 100%;
  border: 1px solid #bbb;
  border-radius: 20px;
  padding: 10px 12px;
  font-size: 14px;
}

.search_img {
  position : absolute;
}


/*STORY*/
.storyBox{
  justify-content: space-around;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 70px 50px;
  position: -webkit-sticky;
}

.storybox_wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 588px;
  position: relative;
  margin-top: 70px;
}

.story_top_container{
  width: 100%;
  margin: 0;
  padding: 0;
}
.story_photo{
  width: 100vw;
  position: relative;
  height: 574px;
}


.story_curtain{
  width: 100vw;
  position: absolute;
  height: 576px;
  top : 69px
}

.story_photo_text{
  position: absolute;
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  Width :382px;
  Height :93px;
  Top :295px;
  Left :94px;
}

.storybox_text{
  position: relative;
  top: 40px;
}
.storybox_wrap1{
  display: flex;
  width: 588px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  height: 35px;
}
.story_text{
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #000;
}
.story_text1{
  font-size: 24px;
  font-weight: 200;
}
.story_text2{
  position: absolute;
  left: 70px;
  font-size: 22px;
}
.story_title{
  font-size: 35px;
  margin: 5px 0 0 0;
}

.story_title2{
  font-size: 28px;
  margin: 5px 0 0 0;
}
.storybox_wrap2{
  display: flex;
  align-items: center;
  margin: 15px 0 0 0;
}
.story_text_bar{
  margin: 0 11px;
}
.story_like_small{
  width: 16px;
  height: 16px;
  margin-right: 5px;
}
